<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT trangChu ANY>
<!ATTLIST trangChu id ID #REQUIRED>
<!ELEMENT tinTuc ANY>
<!ATTLIST tinTuc id ID #REQUIRED>
<!ELEMENT loaiPhong ANY>
<!ATTLIST loaiPhong id ID #REQUIRED>
<!ELEMENT khuyenMai ANY>
<!ATTLIST khuyenMai id ID #REQUIRED>
<!ELEMENT tinTucItem ANY>
<!ATTLIST tinTucItem id ID #REQUIRED>
<!ELEMENT misc ANY>
<!ATTLIST misc id ID #REQUIRED>
<!ELEMENT tab ANY>
<!ATTLIST tab id ID #REQUIRED>
]>
<root id="-1">
  <trangChu id="1071" key="d0c53d31-520b-454b-8094-497d1acad9fc" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-15T12:48:53" updateDate="2017-12-20T14:23:32" nodeName="Trang chu" urlName="trang-chu" path="-1,1071" isDoc="" nodeType="1070" creatorName="wilson" writerName="wilson" writerID="0" template="1061" nodeTypeAlias="trangChu" isPublished="true">
    <hideInNavigation>0</hideInNavigation>
    <hideHome>0</hideHome>
    <tinTuc id="1074" key="68872cd6-ddd2-4104-b3a1-0e757870ee6f" parentID="1071" level="2" creatorID="0" sortOrder="0" createDate="2017-12-15T12:52:27" updateDate="2017-12-20T14:11:12" nodeName="Tin Tức" urlName="tin-tuc" path="-1,1071,1074" isDoc="" nodeType="1072" creatorName="wilson" writerName="wilson" writerID="0" template="1068" nodeTypeAlias="tinTuc" isPublished="true">
      <hideInNavigation>0</hideInNavigation>
      <hideHome>1</hideHome>
      <tinTucItem id="1088" key="8334efed-fdec-473c-b365-8b71b17c9eed" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2017-12-18T14:16:44" updateDate="2017-12-19T09:47:05" nodeName="Các Địa Điểm Du lịch Đà Nẵng – Bạn Không Thể Bỏ Qua - Phần 2" urlName="cac-dia-diem-du-lich-da-nang-ban-khong-the-bo-qua-phan-2" path="-1,1071,1074,1088" isDoc="" nodeType="1080" creatorName="wilson" writerName="wilson" writerID="0" template="1079" nodeTypeAlias="tinTucItem" isPublished="true">
        <thumbnail><![CDATA[umb://media/2f6257b0de5149229361c893d68673e6]]></thumbnail>
        <moTa><![CDATA[Tiếp tục phần 1, sau đây là những địa điểm du lịch mà bạn nhất định phải ghé thăm khi đến với Đà Nẵng.]]></moTa>
        <date><![CDATA[10/ 02]]></date>
        <tacGia><![CDATA[ Đăng bởi Tuấn Ngô - Tin Tức]]></tacGia>
        <tab id="1093" key="aae92a76-6afb-470a-94e6-7c40d078dc67" parentID="1088" level="4" creatorID="0" sortOrder="0" createDate="2017-12-18T14:24:26" updateDate="2017-12-19T09:47:05" nodeName="1. TRƯỢT THÁC NƯỚC HÒA PHÚ THÀNH" urlName="1-truot-thac-nuoc-hoa-phu-thanh" path="-1,1071,1074,1088,1093" isDoc="" nodeType="1085" creatorName="wilson" writerName="wilson" writerID="0" template="0" nodeTypeAlias="tab" isPublished="true">
          <tittle><![CDATA[1. TRƯỢT THÁC NƯỚC HÒA PHÚ THÀNH]]></tittle>
          <noiDung><![CDATA[<p>Khu du lịch Hòa Phú Thành là một điểm du lịch thể thao mới tại Đà Nẵng. Tới đây bạn sẽ có cơ hội được trượt thác nước bằng xuồng cao su, loại hình thể thao mạo hiểm mới ở Việt Nam. Từ mùa hè 2015 Hòa Phú Thành cũng đưa thêm trò Zipline với đường trượt zipline 2 dây (tăng độ an toàn), hạn chế là đường trượt zipline hơi ngắn 1 chút, chưa tạo cảm giác mạnh.</p>
<p>Với trượt thác nước thì quả là 1 cảm giác mới lạ, pha chút thử thách. Trò này sẽ rất vui nếu bạn đi chơi cùng nhóm đông. Hàng ngày sẽ có 2 ca trượt lúc 10h00 và 14h00, bạn chỉ cần có mặt tại đó vào 2 khoảng thời gian này là có thể đăng ký trượt thác</p>
<p><strong>Lưu ý khi đi chơi tại Hòa Phú Thành</strong></p>
<ul>
<li>Thời điểm đang hoặc sau mưa giông, bão, mưa to bạn không nên đi. Vì khi đó nước trên núi về nhiều bạn không thể tham gia vượt thác. Nên check lại thông tin trước khi đi nhé</li>
<li>Nên chuẩn bị đồ chống nước</li>
<li>Khu du lịch có Chòi để du khách nghỉ trưa, bạn cũng có thể mang đồ ăn theo và ăn tự túc</li>
<li>Nếu bạn ko có phương tiện di chuyển, bạn có thể đăng ký tour trực tiếp với Hòa Phú Thành, họ sẽ có xe đưa đón từ tp Đà Nẵng</li>
<li>Ở đây cũng có nhà nghỉ qua đêm, bạn nên đăng ký trước để họ thu xếp</li>
</ul>]]></noiDung>
          <image><![CDATA[umb://media/12ccb05f3349488ea491b5a1274db155]]></image>
        </tab>
        <tab id="1095" key="cebd0122-56d1-4303-b8b4-c6f5b3a1ef69" parentID="1088" level="4" creatorID="0" sortOrder="1" createDate="2017-12-18T14:27:30" updateDate="2017-12-19T09:47:05" nodeName="2. NGŨ HÀNH SƠN" urlName="2-ngu-hanh-son" path="-1,1071,1074,1088,1095" isDoc="" nodeType="1085" creatorName="wilson" writerName="wilson" writerID="0" template="0" nodeTypeAlias="tab" isPublished="true">
          <tittle><![CDATA[2. NGŨ HÀNH SƠN]]></tittle>
          <noiDung><![CDATA[<p>Nam Thiên Danh thắng, Ngũ Hành Sơn nằm cách trung tâm thành phố Đà Nẵng 7km về phía Đông Nam, bao gồm 5 ngọn núi Kim – Mộc – Thủy – Hỏa – Thổ. Ngoài là 1 điểm thăm quan du lịch tâm lịch, hành hương, Ngũ Hành Sơn còn có vẻ đẹp thiên nhiên gắn liền với nhiều sự tích, lễ hội tôn giáo. Nếu tới đây vào giữa tháng 2 âm lịch bạn sẽ có cơ hội tham dự lễ hội Quan Thế Âm tổ chức vào ngày 19/2 âm lịch hàng năm.</p>
<p>Tới Ngũ Hành Sơn bạn sẽ dành nhiều thời gian thăm Thủy Sơn với Động Âm Phủ và quần thể chùa chiền trên núi, cùng với đó là Động Huyền Không vô cùng đẹp. Trên núi Thủy Sơn bạn có thể lên chòi ngắm cảnh, từ đỉnh núi nhìn ra biển và nhiều dãy núi khác kế bên. Để hiểu sâu hơn về lịch sử và các truyền thuyết tại đây, bạn nên đặt dịch vụ thuyết minh để có người dẫn đường và hiểu sâu hơn về Ngũ Hành Sơn.</p>]]></noiDung>
          <image><![CDATA[umb://media/260f54763e124b6e8e1213fbe60c544e]]></image>
        </tab>
        <tab id="1096" key="6338ca99-910e-48c6-939b-d0c1b2acd149" parentID="1088" level="4" creatorID="0" sortOrder="2" createDate="2017-12-18T14:27:53" updateDate="2017-12-19T09:47:05" nodeName="3. ĐÈO HẢI VÂN" urlName="3-deo-hai-van" path="-1,1071,1074,1088,1096" isDoc="" nodeType="1085" creatorName="wilson" writerName="wilson" writerID="0" template="0" nodeTypeAlias="tab" isPublished="true">
          <tittle><![CDATA[3. ĐÈO HẢI VÂN]]></tittle>
          <noiDung><![CDATA[<p>Đèo Hải Vân là 1 thắng cảnh đẹp nằm giữa ranh giới giữa tỉnh Thừa Thiên Huế và Đà Nẵng. Con đèo Hải Vân chạy uốn lượn ven bờ biển cùng với nhiều đoạn khúc cua tay áo, vượt qua nhưng đoạn đường khó này bạn sẽ tới đỉnh đèo, từ đây có thể ngắm nhìn toàn cảnh thành phố ĐN, xa xa là Cù Lao Chàm. Trên đỉnh núi bạn có thể dừng lại chiêm ngưỡng Ải Nam Quan cùng với nhiều câu chuyện lịch sử gắn với mảnh đất này.</p>
<p>Từ hải Vân nhìn sang phía Huế bạn có thể thấy bãi biển Lăng Cô với bãi cát trắng mịn. Phong cảnh từ đèo Hải Vân rất đẹp, đáng để bạn tới và thưởng lãm khi du lịch Đà Nẵng.</p>]]></noiDung>
          <image><![CDATA[umb://media/2f6257b0de5149229361c893d68673e6]]></image>
        </tab>
      </tinTucItem>
      <tinTucItem id="1098" key="fccaf952-08af-4744-a79b-96207b61ae24" parentID="1074" level="3" creatorID="0" sortOrder="1" createDate="2017-12-18T14:29:03" updateDate="2017-12-19T09:47:05" nodeName="KINH NGHIỆM DU LỊCH ĐÀ NẴNG" urlName="kinh-nghiem-du-lich-da-nang" path="-1,1071,1074,1098" isDoc="" nodeType="1080" creatorName="wilson" writerName="wilson" writerID="0" template="1079" nodeTypeAlias="tinTucItem" isPublished="true">
        <thumbnail><![CDATA[umb://media/40c27a59b64c4c069b35fc7d1d723e4c]]></thumbnail>
        <moTa><![CDATA[Để chuẩn bị cho chuyến du lịch hè 2017 sắp tới đây, các bạn hãy tham khảo những kinh nghiệm du lịch Đà Nẵng sau đây, hy vọng có thể giúp các bạn có chuyến đi hoàn hảo, thú vị và ý nghĩa hơn.]]></moTa>
        <date><![CDATA[10/03]]></date>
        <tacGia><![CDATA[Đăng bởi Tuấn Ngô - Tin Tức]]></tacGia>
        <tab id="1100" key="7701aceb-917e-4450-bd47-be09f7eea80f" parentID="1098" level="4" creatorID="0" sortOrder="0" createDate="2017-12-18T14:29:52" updateDate="2017-12-19T09:47:05" nodeName="1. DU LỊCH ĐÀ NẴNG VÀO THỜI GIAN NÀO?" urlName="1-du-lich-da-nang-vao-thoi-gian-nao" path="-1,1071,1074,1098,1100" isDoc="" nodeType="1085" creatorName="wilson" writerName="wilson" writerID="0" template="0" nodeTypeAlias="tab" isPublished="true">
          <tittle><![CDATA[1. DU LỊCH ĐÀ NẴNG VÀO THỜI GIAN NÀO?]]></tittle>
          <noiDung><![CDATA[<p>Đà Nẵng nằm dọc theo vùng duyên hải Nam Trung Bộ trong vùng khí hậu nhiệt đới gió mùa. Đà Nẵng không quá nóng nhiệt độ trung bình chỉ từ  28-30°C. </p>
<p>Như vậy có thể lựa chọn thời điểm đi du lịch Đà Nẵng thích hợp nhất từ đầu tháng 4 đến tháng 9 trong năm là hợp lý nhất bởi vào những tháng này không khí ở đây mát rất thuận tiện cho chuyến đi vui chơi của bạn.</p>]]></noiDung>
          <image><![CDATA[umb://media/d63e448148f44c4dba688732906202e3]]></image>
        </tab>
        <tab id="1102" key="d14d1b20-c425-4f0d-952f-e8d98da14927" parentID="1098" level="4" creatorID="0" sortOrder="1" createDate="2017-12-18T14:30:51" updateDate="2017-12-19T09:47:05" nodeName="2. ĐẾN ĐÀ NẴNG BẰNG PHƯƠNG TIỆN GÌ ?" urlName="2-den-da-nang-bang-phuong-tien-gi" path="-1,1071,1074,1098,1102" isDoc="" nodeType="1085" creatorName="wilson" writerName="wilson" writerID="0" template="0" nodeTypeAlias="tab" isPublished="true">
          <tittle><![CDATA[2. ĐẾN ĐÀ NẴNG BẰNG PHƯƠNG TIỆN GÌ ?]]></tittle>
          <noiDung><![CDATA[<p>Hiện nay có rất nhiều phương tiện đến Đà Nẵng cho bạn lựa chọn:</p>
<ul>
<li>Máy bay:</li>
</ul>
<p>Các bạn có thể tham khảo những hãng hàng không cung cấp chuyến bay tới Đà Nẵng như: Vietnam Airlines, VietJetAir, Jetstar tùy thuộc vào ngân sách để mình lựa chọn cho phù hợp. Bên cạnh các hãng máy bay cũng thường xuyên có chương trình khuyến mại bạn có thể mua để giảm chi phí và tiết kiệm cho chuyến đi Đà Nẵng của mình.</p>
<ul>
<li>Tàu hỏa:</li>
</ul>
<p>Đây là phương tiện được nhiều người lựa chọn khi di chuyển đến Đà Nẵng bởi giá cả hợp lý cũng như độ an toàn tuyệt đối cho khách du lịch. Đặc biệt ga Đà Nẵng ở ngay trung tâm thành phố nên rất thuận tiện cho việc đi lại. Giá vé cũng rất rẻ tùy thuộc vào nhu cầu của bạn chọn ghế ngồi , chọn loại tàu với giá trùng bình từ 300.000đ – 1.200.000đ.</p>
<ul>
<li>Xe khách:</li>
</ul>
<p>Rất thuận tiện và đơn giản chỉ từ 250.000 – 400.000 đồng là bạn có thể di chuyển từ Hà Nội và Đà Nẵng.</p>
<p><img style="width: 500px; height: 273.973px; display: block; margin-left: auto; margin-right: auto;" src="/media/1006/section1.jpg?width=500&amp;height=273.972602739726" alt="" data-udi="umb://media/f2d8b0704f7d41b88ecf59d0b6091b3c" /></p>]]></noiDung>
          <image><![CDATA[umb://media/f2d8b0704f7d41b88ecf59d0b6091b3c]]></image>
        </tab>
      </tinTucItem>
      <tinTucItem id="1111" key="2a269107-ddcb-4e1e-a978-20a287e038b3" parentID="1074" level="3" creatorID="0" sortOrder="2" createDate="2017-12-20T14:28:38" updateDate="2017-12-20T14:28:38" nodeName="Báo xuất hiện ở Đà Nẵng" urlName="bao-xuat-hien-o-da-nang" path="-1,1071,1074,1111" isDoc="" nodeType="1080" creatorName="wilson" writerName="wilson" writerID="0" template="1079" nodeTypeAlias="tinTucItem" isPublished="true">
        <hideInNavigation>0</hideInNavigation>
        <hideHome>0</hideHome>
        <thumbnail><![CDATA[umb://media/52c839ddb37f4b42847c67a787dd8c68]]></thumbnail>
        <moTa><![CDATA[Đây là hình ảnh con báo .]]></moTa>
        <date><![CDATA[20/12/2017]]></date>
        <tacGia><![CDATA[Vu]]></tacGia>
        <tab id="1112" key="db152ddc-6c3d-4b6d-acc5-529b0ed497d3" parentID="1111" level="4" creatorID="0" sortOrder="0" createDate="2017-12-20T14:30:49" updateDate="2017-12-20T14:30:49" nodeName="Báo xuất hiện ở Đà Nẵng" urlName="bao-xuat-hien-o-da-nang" path="-1,1071,1074,1111,1112" isDoc="" nodeType="1085" creatorName="wilson" writerName="wilson" writerID="0" template="0" nodeTypeAlias="tab" isPublished="true">
          <hideInNavigation>0</hideInNavigation>
          <tittle><![CDATA[Cảnh báo nguy hiểm]]></tittle>
          <noiDung><![CDATA[<p>Báo xuất hiện ở nhiều nơi.</p>
<p>Mọi người cần chú ý cẩn thận để bảo vệ bản thân</p>]]></noiDung>
          <image><![CDATA[umb://media/2f6257b0de5149229361c893d68673e6]]></image>
        </tab>
      </tinTucItem>
    </tinTuc>
    <loaiPhong id="1076" key="7997a0d5-4764-4de5-a69c-53b6c873a17b" parentID="1071" level="2" creatorID="0" sortOrder="1" createDate="2017-12-15T12:53:35" updateDate="2017-12-19T13:12:12" nodeName="Loại phòng" urlName="loai-phong" path="-1,1071,1076" isDoc="" nodeType="1075" creatorName="wilson" writerName="wilson" writerID="0" template="1065" nodeTypeAlias="loaiPhong" isPublished="true">
      <hideInNavigation>0</hideInNavigation>
    </loaiPhong>
    <khuyenMai id="1078" key="af348943-a2a1-4358-8bff-a5c777b40f3f" parentID="1071" level="2" creatorID="0" sortOrder="2" createDate="2017-12-18T13:55:55" updateDate="2017-12-19T13:12:20" nodeName="Khuyến mãi" urlName="khuyen-mai" path="-1,1071,1078" isDoc="" nodeType="1077" creatorName="wilson" writerName="wilson" writerID="0" template="1067" nodeTypeAlias="khuyenMai" isPublished="true">
      <hideInNavigation>0</hideInNavigation>
    </khuyenMai>
  </trangChu>
</root>